@page "/colors"
@rendermode InteractiveWebAssembly
<Page Title="Colors.">
    <Article>
        <h1>Colors</h1>
        <p>
            Pico uses a simplified set of colors, Default, Emphasis, Inset, Subtle, Danger and Focus. The colors have different meaning and usage, Default for instance is in light mode a white background with black text.
        </p>
    </Article>
</Page>