@page "/"
@rendermode InteractiveWebAssembly

<Page Title="Pico.">
    <Article>
        <h1>Pico.</h1>
        <p>
            Pico is built for me by me. Its guidelines are a collection of principles, standards, and recommendations for designing my own applications. As a design language, Pico provides simple grammar and vocabulary to build cohesive, accessible, responsive, and efficient experiences.
        </p>
    </Article>
</Page>