@page "/pico"

@rendermode InteractiveWebAssembly

<div class="w-full h-dvh flex flex-col gap-4 items-center justify-center">
    <label class="py-2 px-5 rounded-full cursor-pointer select-none transition-colors hover:bg-black/10 dark:hover:bg-white/15  flex items-center gap-2 text-sm uppercase">
        <input type="checkbox" @onchange="Toggle">Invert
    </label>
    <div class="p-4 grid grid-cols-2 gap-4 *:!w-auto w-full max-w-md mx-auto rounded-lg transition-colors @(_invert ? "pico-invert" : "")">
        <PrimaryButton Text="Primary" @onclick="@(() => Console.WriteLine("Clicked!"))"/>
        <SecondaryButton Text="Secondary" href="/pico">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"/><path d="m21 3-9 9"/><path d="M15 3h6v6"/>
            </svg>
        </SecondaryButton>
        <DangerButton Text="Danger" Direction="Direction.Rtl">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="9" cy="12" r="1"/><circle cx="15" cy="12" r="1"/><path d="M8 20v2h8v-2"/><path d="m12.5 17-.5-1-.5 1h1z"/><path d="M16 20a2 2 0 0 0 1.56-3.25 8 8 0 1 0-11.12 0A2 2 0 0 0 8 20"/>
            </svg>
        </DangerButton>
        <InvisibleButton>Invisible</InvisibleButton>
        <div class="p-2 col-span-2 flex flex-row flex-wrap justify-center items-center">
            <IconButton>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/>
                </svg>
            </IconButton>
            <IconButton>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m12 19-7-7 7-7"/>
                    <path d="M19 12H5"/>
                </svg>
            </IconButton>
            <IconButton>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m6 9 6 6 6-6"/>
                </svg>
            </IconButton>
        </div>
    </div>
</div>

@code {
    bool _invert = false;

    private void Toggle()
    {
        _invert = !_invert;
    }

}