@page "/effects/ripple"
@rendermode InteractiveWebAssembly
<Page Title="Ripple.">
    <Article>
        <h1>Ripple</h1>
        <p>
            Ripple is a component that can be added to elements in order to give them a clearer active state effect.
        </p>
    </Article>
</Page>