:root {
    --font-family: arial;
    --font-size: 16px;
    --border-radius: 0.25rem;
    --line-height: 1.5rem;
    --color-black: hsl(0, 0%, 0%, 100%);
    --color-black-hover: hsl(0, 0%, 20%, 100%);
    --color-white: hsl(0, 0%, 100%, 100%);
    --color-white-hover: hsl(0, 0%, 90%, 100%);
    --color-danger: hsl(0, 72.2%, 50.6%, 100%);
    --color-danger-hover: hsl(0, 72.2%, 59.6%, 100%);
    --color-transparent: transparent;
    --color-focus-outline: hsl(84.8, 85.2%, 34.5%, 100%);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-default: hsl(0, 0%, 100%, 100%);
        --color-default-hover: hsl(0, 0%, 90%, 100%);
        --color-emphasis: hsl(0, 0%, 0%, 100%);
        --color-emphasis-hover: hsl(0, 0%, 20%, 100%);
        --color-subtle: hsl(0, 0%, 96.1%, 100%);
        --color-subtle-hover: hsl(0, 0%, 89.1%, 100%);
        --color-inset: hsl(0, 0%, 89.8%, 100%);
        --color-inset-hover: hsl(0, 0%, 82.8%, 100%);
        --color-transparent-hover: hsl(0, 0%, 0%, 10%);
        --color-ripple-effect: rgba(0, 0, 0, 0.15);
    }

    .pico-invert {
        --color-default: hsl(0, 0%, 0%, 100%);
        --color-default-hover: hsl(0, 0%, 20%, 100%);
        --color-emphasis: hsl(0, 0%, 100%, 100%);
        --color-emphasis-hover: hsl(0, 0%, 90%, 100%);
        --color-subtle: hsl(0, 0%, 14.9%, 100%);
        --color-subtle-hover: hsl(0, 0%, 21.9%, 100%);
        --color-inset: hsl(0, 0%, 32.2%, 100%);
        --color-inset-hover: hsl(0, 0%, 37.2%, 100%);
        --color-transparent-hover: hsl(0, 0%, 100%, 15%);
        --color-ripple-effect: rgba(255, 255, 255, 0.3);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-default: hsl(0, 0%, 0%, 100%);
        --color-default-hover: hsl(0, 0%, 20%, 100%);
        --color-emphasis: hsl(0, 0%, 100%, 100%);
        --color-emphasis-hover: hsl(0, 0%, 90%, 100%);
        --color-subtle: hsl(0, 0%, 14.9%, 100%);
        --color-subtle-hover: hsl(0, 0%, 21.9%, 100%);
        --color-inset: hsl(0, 0%, 32.2%, 100%);
        --color-inset-hover: hsl(0, 0%, 37.2%, 100%);
        --color-transparent-hover: hsl(0, 0%, 100%, 15%);
        --color-ripple-effect: rgba(255, 255, 255, 0.3);
    }

    .pico-invert {
        --color-default: hsl(0, 0%, 100%, 100%);
        --color-default-hover: hsl(0, 0%, 90%, 100%);
        --color-emphasis: hsl(0, 0%, 0%, 100%);
        --color-emphasis-hover: hsl(0, 0%, 20%, 100%);
        --color-subtle: hsl(0, 0%, 96.1%, 100%);
        --color-subtle-hover: hsl(0, 0%, 89.1%, 100%);
        --color-inset: hsl(0, 0%, 89.8%, 100%);
        --color-inset-hover: hsl(0, 0%, 82.8%, 100%);
        --color-transparent-hover: hsl(0, 0%, 0%, 10%);
        --color-ripple-effect: rgba(0, 0, 0, 0.15);
    }
}

html {
    font-size: var(--font-size);
}

body,
.pico-invert {
    background-color: var(--color-default);
    color: var(--color-emphasis);
}

.btn {
    all: unset;
    appearance: none;
    font-family: var(--font-family);
    line-height: 1.5rem;
    overflow: hidden;
    position: relative;
}

.btn {
    user-select: none;
    font-size: 0.875rem;
    display: flex;
    flex-direction: row;
    gap: 0.375rem;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold;
    transition: background-color .25s;

    &.direction-ltr {
        .btn__text {
            order: 1;
        }

        & > svg {
            order: 2;
            margin: 0 -0.5rem 0 0;
        }
    }

    &.direction-rtl {
        .btn__text {
            order: 2;
        }

        & > svg {
            order: 1;
            margin: 0 0 0 -0.5rem;
        }
    }

    &:not(.btn-icon) {
        width: max-content;
        padding: 0 1rem 0 1rem;
        border-radius: var(--border-radius);
    }

    &.btn-icon {
        width: 2.5rem;
        border-radius: 9999px !important;

        & > svg {
            margin: 0 0 0 0;
        }
    }

    &.btn-primary {
        background-color: var(--color-emphasis);
        color: var(--color-default);

        &:hover:not(:active) {
            background-color: var(--color-emphasis-hover);
        }
    }

    &.btn-secondary,
    &.btn-invisible,
    &.btn-icon {
        background-color: var(--color-transparent);
        color: inherit;

        &:not(.btn-invisible, .btn-icon) {
            border: 0.125rem solid var(--color-emphasis);
        }

        &:hover:not(:active) {
            background-color: var(--color-transparent-hover);
        }
    }

    &.btn-danger {
        background-color: var(--color-danger);
        color: var(--color-white);

        &:hover:not(:active) {
            background-color: var(--color-danger-hover);
        }
    }

    &:focus {
        outline: 0.125rem solid var(--color-focus-outline);
        outline-offset: -0.125rem;
    }

    & > .btn__text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    & > svg {
        width: 1.25rem;
        height: 1.25rem;
        min-width: 1.25rem;
        min-height: 1.25rem;
    }
}

.ripple {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 110%;
    aspect-ratio: 1 / 1;
    border-radius: 9999px !important;
    z-index: 10;
    transform-origin: center;
    animation-iteration-count: 1;
    background-color: transparent;

    &.ripple-animate {
        background-color: var(--color-ripple-effect);
        animation: pico-ripple 0.5s linear;
    }
}

@keyframes pico-ripple {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(4);
        opacity: 0;
    }
}