@inherits LayoutComponentBase
@inject ThemeProvider Theme

<div class="w-full min-h-dvh @(Theme.BackgroundColor) @(Theme.TextColor)">
    <header>
        <NavMenu/>
    </header>
    <main>@Body</main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

